﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title id="MasterPageTitle">@ViewData["Title"] - SoleTraderBookkeepingApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/CustomStyles.css" />
    <script src="js/jquery.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/dynamics.js"></script>
    <script src="~/js/vue.js"></script>
    <script>var AppAddress = "@Html.GetAppAddress()"; </script>


</head>
<body>
    <img src="~/pictures/recordsmall.png" id="RecordImage" hidden>
    <img src="~/pictures/AddButtonBlue.jpg" id="AddImage" hidden>
    <img src="~/pictures/Filter.jpg" id="FilterImage" hidden>
    <img src="~/pictures/DeleteButtonBlue.jpg" id="DeleteImage" hidden>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                @*<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SoleTraderBookkeepingApp</a>*@
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        @foreach (var Navigatable in Navigatable.GetMetadataAttributesOfAllNavigatables())
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="@Html.GetAppAddress()/Universal/Index/?id=@Navigatable.MetaID.ToString()">@Navigatable.PluralName</a>
                            </li>
                        }
                    </ul>>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - SoleTraderBookkeepingApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
