﻿@model SoleTraderBookkeepingApp.Controllers.UniversalDTO_Index_AJAX
<html>

<body id="Body">
    
    @{
        ViewData["Title"] = "View";
    }

    <h1>@Model.Header</h1>

    <script>
        GetMetadata("@Model.ObjectName", "@Html.GetAppAddress()" + '/universal/' + 'RetrieveMetadata', 'List',
            function(responseText)
            {
                var DT = new DynamicTable('List', responseText, "@Html.GetAppAddress()", "@Model.ObjectName", "@Model.MetaID", document.getElementById("Body"), undefined, {}, false)
                document.getElementById("Body").appendChild(DT.WholeElement);
            });        
    </script>

</body>
</html>