﻿@model SoleTraderBookkeepingApp.Controllers.UniversalDTO_Edit_AJAX
<html>


<body id="Body">

   <h1 id="MainHeader"></h1>
    
    <script>
        GetMetadata("@Model.ObjectName", "@Html.GetAppAddress()" + '/universal/' + 'RetrieveMetadata/' + '@Model.ObjectReference.ToString()', 'Element',
            function (responseText)
            {
                var DOW = new DynamicObjectViewer('List', '@Model.ObjectName', responseText, "@Html.GetAppAddress()", "@Model.ObjectReference.ToString()", Vue)
                document.getElementById("Body").appendChild(DOW.WholeElement);
            }, "@Model.ObjectReference.ToString()");
    </script>

</body>
</html>