﻿@model SoleTraderBookkeepingApp.Models.CommodityType

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CommodityType</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MarkedForDeletion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MarkedForDeletion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
