﻿@model IEnumerable<SoleTraderBookkeepingApp.Models.CommodityType>



@{
    ViewData["Title"] = "Index";
}


<h1>Commodity types</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |

                    <script>
                        var MessageBody = JSON.stringify({ "Message": "Delete @item.ID" });
                        function SendDeleteRequestParticular() { SendLegthyRequest(AppAddress, "CommodityTypes", "PostData", MessageBody, "POST", "DeleteRequest_@item.ID", "DeleteAwaitingLoop_@item.ID") }
                    </script>

                    <button type="button" id="DeleteRequest_@item.ID" class="border-light" onclick="
    SendDeleteRequestParticular()

    ">
                        Send delete request
                    </button>


                <td id="delete_result_@item.ID"> </td>


            </tr>
        }
    </tbody>
</table>
